* {
    font-family: Inter, sans-serif;
}

.tab-content td {
    padding: 5px;
}

#login-tab-pane, #signup-tab-pane, #manage-class-content, #manage-term-content {
    width: 60%;
}

@media screen and (max-width: 768px) {
    #login-tab-pane, #signup-tab-pane, #manage-class-content, #manage-term-content {
        width: 90%;
    }
}

select option:disabled {
    color: #cccccc;
}

.custom-color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
.custom-color-picker::-webkit-color-swatch {
    border-radius: 25px;
    border: none;
  }
.custom-color-picker::-moz-color-swatch {
    border-radius: 25px;
    border: none;
  }

.nav-tabs-sticky {
    position: sticky;
    padding-top: 20px;
    top: 55px;
    z-index: 1;
}

.btn.hover-red:hover {
    background-color: #f0515c;
    color: white;
}