* {
    font-family: Inter, sans-serif;
}

.tab-content td {
    padding: 5px;
}

#login-tab-pane, #signup-tab-pane, #manage-class-content, #manage-term-content {
    width: 60%;
}

@media screen and (max-width: 768px) {
    #login-tab-pane, #signup-tab-pane, #manage-class-content, #manage-term-content {
        width: 90%;
    }
}

select option:disabled {
    color: #cccccc;
}

.custom-color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
.custom-color-picker::-webkit-color-swatch {
    border-radius: 25px;
    border: none;
  }
.custom-color-picker::-moz-color-swatch {
    border-radius: 25px;
    border: none;
  }

.nav-tabs-sticky {
    position: sticky;
    padding-top: 20px;
    top: 55px;
    z-index: 1;
}

.btn.hover-red:hover {
    background-color: #f0515c;
    color: white;
}

input[type="checkbox"]:not(:checked) {
    background-color: #f5f5f5;
}

.form-style-dropdown {
    border: 1px solid #dee2e6;
    padding: 6px 15px 7px 15px;
    border-radius: 6px;
}

@media screen and (max-width: 768px) {
    .tab-content tr {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px;
        border-bottom: 1px solid #cccccc;
        align-items: center;

    }
    .tab-content .task-check .form-check-input, .exam-check .form-check-input {
        width: 20px;
        height: 20px;
        padding: 0px;
        margin: 0px;
    }
    .tab-content #tasks-tab-pane table, #completed-tab-pane table {
        width: 95%;
        margin: auto;
    }
    .tab-content #tasks-tab-pane td, #completed-tab-pane td {
        padding: 1%;
        margin: 0px;
    }
    .tab-content .task-check, .exam-check {
        width: 6%;
        order: 1;
    }
    .tab-content .task-name, .exam-name {
        width: 87%;
        order: 2;
    }
    .tab-content .task-name input, .exam-name input {
        background-color: #f5f5f5;
    }
    .tab-content .task-menu, .exam-menu {
        order: 3;
        width: 6%;
        margin-left: -1.5%;
    }
    .tab-content .task-due {
        width: 33%;
        order: 4;
    }
    .tab-content .task-finish {
        width: 33%;
        order: 5;
    }
    .tab-content .task-class {
        width: 33%;
        order: 6;
    }
    .tab-content .exam-open {
        width: 25%;
        order: 4;
    }
    .tab-content .exam-close {
        width: 25%;
        order: 5;
    }
    .tab-content .exam-finish {
        width: 25%;
        order: 6;
    }
    .tab-content .exam-class {
        width: 24%;
        order: 7;
    }
    .tab-content .task-due input, .tab-content .task-finish input, .tab-content .task-class a.dropdown-toggle, .tab-content .exam-open input, .tab-content .exam-close input, .tab-content .exam-finish input, .tab-content .exam-class a.dropdown-toggle  {
        font-size: 0.8em;
        padding-bottom: 7px;
        /* background-color: #f5f5f5; */
    }

    .tab-content #tasks-tab-pane label, .tab-content #completed-tab-pane label, .tab-content #exams-tab-pane label {
        position: relative;
        bottom: 13px;
        left: 10px;
        font-size: 0.7em;
        color: gray;
        background-color: white;
        padding: 0px 5px;
    }
    .tab-content .task-table-header, .tab-content .exam-table-header {
        display: none;
    }
    /* table {
        display: block;
    }
    
    table td {
        display: inline-block;
    } */

}