* {
    font-family: Inter, sans-serif;
}

th {
    font-weight: normal;
}

.tab-content td {
    padding: 5px;
}

.tab-table {
    width: 80%;
    margin: 20px auto;
    table-layout: fixed;
}

.task-table-header th {
    padding: 15px 0px 15px 0px;
}

.tab-content .no-tab-content {
    background-color: rgb(248,249,250);
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .tab-table {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .tab-table {
        width: 90%;
    }
}

.login-tab-content {
    width: 50%;
    margin: 20px auto;
}

.login-button {
    width: 200px;
}

@media screen and (max-width: 768px) {
    .login-tab-content {
        width: 80%;
    }
}

#tasks-tab-pane, #completed-tab-pane, #exams-tab-pane {
    width: 80%;
}

@media screen and (max-width: 768px) {
    #tasks-tab-pane, #completed-tab-pane, #exams-tab-pane {
        width: 95%;
    }
}

select option:disabled {
    color: #cccccc;
}

.navbar-toggler {
    border: none;
}

.custom-color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 25px!important;
  }
.custom-color-picker::-webkit-color-swatch {
    border-radius: 25px;
    border: none;
  }
.custom-color-picker::-moz-color-swatch {
    border-radius: 25px;
    border: none;
  }

.nav-tabs-sticky {
    position: sticky;
    padding-top: 20px;
    top: 55px;
    z-index: 1;
}

.btn.delete-button-active:hover {
    background-color: #f0515c;
    color: white;
}

.btn.delete-button-inactive {
    color: #6c757d;
}

.form-style-dropdown {
    border: 1px solid #dee2e6;
    padding: 0px;
    text-align: center;
    border-radius: 6px;
}

.form-style-dropdown.class-color button {
    color: var(--color);
}

.form-control-date input {
    font-size: 1rem;
}

.form-control-date.class-color input {
    background-color: transparent;
    color: var(--color);
}

.form-control-date.class-color input:hover {
    cursor: pointer;
}

.form-control-date.class-color .rs-picker-input-group {
    background-color: var(--backgroundColor);
    border-bottom: 3px solid;
    border-color: var(--borderColor);
    color: var(--color);
}

.form-control-date.class-color .rs-picker-input-group:hover {
    border-color: var(--borderColor);
    
}

.form-control-date.class-color .rs-input-group-addon {
    color: var(--borderColor);
}

.rs-picker-date-menu, .rs-picker-popup-date {
    z-index: 1100 !important;
  }

.form-control-date.class-color {
    border-radius: 3px;
}

.form-style-dropdown.class-color, .form-control.class-color, .form-control-date.class-color .rs-picker-input-group {
    border-width: 0px;
    border-bottom-width: 3px;
    border-radius: 3px;
}

.tab-content .task-name, .tab-content .exam-name {
    width: 100%;
}


/* Mobile-friendly assignment tables */

@media screen and (max-width: 768px) {
    .tab-content tr {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px;
        border-bottom: 1px solid #cccccc;
        align-items: center;
        text-align: start;
    }
    .tab-content .task-check .form-check-input, .exam-check .form-check-input {
        width: 20px;
        height: 20px;
        padding: 0px;
        margin: 0px;
    }
    .tab-content #tasks-tab-pane table, #completed-tab-pane table {
        width: 95%;
        margin: auto;
    }
    .tab-content #tasks-tab-pane td, #completed-tab-pane td {
        padding: 1%;
        margin: 0px;
    }
    .tab-content .task-check, .exam-check {
        width: 6%;
        order: 1;
    }
    .tab-content .task-name, .exam-name {
        width: 87%;
        order: 2;
        
    }
    
    .tab-content .task-menu, .exam-menu {
        order: 3;
        width: 6%;
        margin-left: -1.5%;
    }
    .tab-content .task-due {
        width: 33%;
        order: 4;
    }
    .tab-content .task-finish {
        width: 33%;
        order: 5;
    }
    .tab-content .task-class {
        width: 33%;
        order: 6;
    }
    .tab-content .exam-open {
        width: 25%;
        order: 4;
    }
    .tab-content .exam-close {
        width: 25%;
        order: 5;
    }
    .tab-content .exam-finish {
        width: 25%;
        order: 6;
    }
    .tab-content .exam-class {
        width: 24%;
        order: 7;
    }
    .tab-content .task-due input, .tab-content .task-finish input, .tab-content .task-class a.dropdown-toggle, .tab-content .exam-open input, .tab-content .exam-close input, .tab-content .exam-finish input, .tab-content .exam-class a.dropdown-toggle, .form-style-dropdown .dropdown-toggle  {
        font-size: 0.8em;
        padding-bottom: 7px;
        /* background-color: #f5f5f5; */
    }

    .tab-table label {
        position: relative;
        bottom: 13px;
        left: 10px;
        font-size: 0.7em;
        color: gray;
        background-color: white;
        padding: 0px 5px;
    }
    .tab-content .task-table-header, .tab-content .exam-table-header {
        display: none;
    }
    /* table {
        display: block;
    }
    
    table td {
        display: inline-block;
    } */

}

@media screen and (max-width: 576px) {
    .tab-content .exam-open {
        width: 49.5%;
        order: 4;
        padding-bottom: 0px;
    }
    .tab-content .exam-close {
        width: 49.5%;
        order: 5;
        padding-bottom: 0px;
    }
    .tab-content .exam-finish {
        width: 49.5%;
        order: 6;
        padding-top: 0px;
    }
    .tab-content .exam-class {
        width: 49.5%;
        order: 7;
        padding-top: 0px;
    }
}

/* Mobile-friendly term tables */

@media screen and (max-width: 768px) {
    #manage-term-content tr {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px 5px 0px;
        border-bottom: 1px solid #cccccc;
        align-items: center;
        text-align: start;
    }
    #manage-term-content table {
        width: 95%;
        margin: auto;
    }
    #manage-term-content td {
        padding: 1%;
        margin: 0px;
    }
    #manage-term-content .term-name {
        width: 85%;
        order: 1;
    }
    #manage-term-content .term-delete {
        width: 14%;
        order: 2;
    }
    #manage-term-content .term-start {
        width: 49.5%;
        order: 3;
    }
    #manage-term-content .term-end {
        width: 49.5%;
        order: 4;
    }
    
    
    #manage-term-content .term-start input, #manage-term-content .term-end input {
        font-size: 0.8em;
        padding-bottom: 7px;
        /* background-color: #f5f5f5; */
    }

    #manage-term-content label {
        position: relative;
        bottom: 13px;
        left: 10px;
        font-size: 0.7em;
        color: gray;
        background-color: white;
        padding: 0px 5px;
    }
    #manage-term-content .term-table-header {
        display: none;
    }

}

/* Mobile-friendly class tables */

@media screen and (max-width: 768px) {
    #manage-class-content tr {
        padding: 20px 0px 5px 0px;
        align-items: center;
        text-align: start;
    }
    #manage-class-content table {
        width: 95%;
        margin: auto;
    }
    #manage-class-content td {
        padding: 1%;
        margin: 0px;
    }
    #manage-class-content .class-name {
        width: 100%;
        order: 1;
    }
    #manage-class-content .class-delete {
        order: 2;
    }
    #manage-class-content .class-color {
        order: 3;
        padding: 0px 10px;
    }

    #manage-class-content .class-table-header {
        display: none;
    }

}

.dropdown-item:active, .dropdown-item.active {
    background-color: transparent!important;
    color: black;
}

.no-caret .dropdown-toggle:after {
    display: none !important;
}

.dropdown-center .dropdown-menu {
    width: 100%;
}

.form-style-dropdown .dropdown-toggle {
    border: none;
}

.notification {
    padding: 0;
    margin: 0;
}

.notification span {
    font-size: 1.2rem;
}

.notification-visible {
    opacity: 1;
}

.notification-hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out 3s;
}
