/* https://lingtalfi.com/bootstrap4-color-generator */


/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #103c37;
    background-color: #aae8e0;
    border-color: #9ae4db;
}

.alert-primary hr {
    border-top-color: #86ded3;
}

.alert-primary .alert-link {
    color: #051412;
}

.badge-primary {
    color: #fff;
    background-color: #2a9d8f;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #1f746a;
}

.bg-primary {
    background-color: #2a9d8f !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #1f746a !important;
}

.border-primary {
    border-color: #2a9d8f !important;
}

.btn-primary {
    color: #fff;
    background-color: #2a9d8f;
    border-color: #2a9d8f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #228075;
    border-color: #1f746a;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(42, 157, 143, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #2a9d8f;
    border-color: #2a9d8f;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1f746a;
    border-color: #1c685f;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(42, 157, 143, 0.5);
}

.btn-outline-primary {
    color: #2a9d8f;
    background-color: transparent;
    border-color: #2a9d8f;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #2a9d8f;
    border-color: #2a9d8f;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(42, 157, 143, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #2a9d8f;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #2a9d8f;
    border-color: #2a9d8f;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(42, 157, 143, 0.5);
}

.list-group-item-primary {
    color: #103c37;
    background-color: #9ae4db;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #103c37;
    background-color: #86ded3;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #103c37;
    border-color: #103c37;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #9ae4db;
}

.table-hover .table-primary:hover {
    background-color: #86ded3;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #86ded3;
}

.text-primary {
    color: #2a9d8f !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #1f746a !important;
}







/* Addition: inactive tabs */

.nav-tabs button:not(.active) {
    color: #424547 !important;
}

.nav-tabs button:not(.active):hover, .nav-tabs button:not(.active):focus {
    color: #424547 !important;
}

/* Addition: checkboxes */

.form-check-input:checked {
    background-color: #bfc3c6;
}

.task-check input[type="checkbox"], .exam-check input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid;
    background-color: var(--checkbox-color);
    border-color: var(--checkbox-color);
}

input[type="checkbox"]:not(:checked) {
    background-color: transparent;
}

/* Addition: focus input border */

.form-control:focus{
    border-color: #2a9d8f; 
    box-shadow: 0px 0px 5px #95dcd4;
    -webkit-box-shadow: 0px 0px 5px #95dcd4;
} 